[class^='icon']
	display inline-block
	width 1em
	height 1em
	fill currentColor
	&.left
		margin-right 8px
	&.right
		margin-left 8px

.icon
	&-md
		width 24px
		height 24px
	&-lg
		width 32px
		height 32px