.btn
	display inline-block
	border 2px solid transparent
	border-radius 4px
	box-sizing border-box
	font-size 1rem
	outline none
	user-select none
	will-change background-color, box-shadow
	transition color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
	&.primary
		background-color $b300
		color $n0
		box-shadow 0 0 0 0 $n40
		&:hover
			background-color $b400
			box-shadow 0 8px 12px -4px $n60
		&:active
			box-shadow 0 8px 12px -4px $n40
			transform scale(.99)
	&.secondary
		background-color $n0
		color $b400
		box-shadow 0 0 0 0 $n40
		border-color $b400
		&:hover
			background-color $n20
			box-shadow 0 8px 12px -4px $n60
		&:active
			box-shadow 0 8px 12px -4px $n40
			transform scale(.99)
	&.md
		padding 12px 24px 11px
	&.lg
		padding 18px 32px 17px
		font-size 20px