a,
a:visited
	&.link
		position relative
		text-decoration none
		color $n700
		transition .15s ease-in
		&:hover
			color $b400
		&:after
			content ''
			width 0%
			height 2px
			background $b400
			position absolute
			left 0
			bottom -2px
			transition .15s ease-in
		&:hover::after
			width 100%
