/* Font */
font-face($name, $type, $weight, $style)
	@font-face
		font-family $name
		src url('/src/fonts/"+$name+"/"+$type+".woff2') format('woff2'), url('/src/fonts/"+$name+"/"+$type+".woff')
		font-weight @weight
		font-style $style