abbr[title]
    text-decoration underline // Chrome 48+, Edge 12+, IE 11-, Safari 9+
    text-decoration underline dotted // FF 40+

audio:not([controls])
    display none // Chrome 44-, iOS 8+, Safari 9+

b,
strong
    font-weight bolder // Edge 12+, Safari 6.2+, and Chrome 18+

button
    cursor pointer
    -webkit-appearance button // iOS 8+
    overflow visible // IE 11-

button,
input
    &::-moz-focus-inner
        border 0 // FF
        padding 0 // FF

    &:-moz-focusring
        outline 1px dotted // FF

button,
select
    text-transform none // FF 40+, IE 11-

details
    display block // Edge 12+, FF 40+, IE 11-, WP 8.1+

hr
    overflow visible // IE 11-, Edge 12+

html
    -ms-overflow-style -ms-autohiding-scrollbar // Edge 12+, IE 11-
    -webkit-text-size-adjust 100% // iOS 8+, WP 8.1+
    min-height 100%
    position relative

input
    -webkit-border-radius 0 // iOS 8+

    &[type="button"],
    &[type="reset"],
    &[type="submit"]
        -webkit-appearance button // iOS 8+

    &[type="number"]
        width auto // FF 36+

    &[type="search"]
        -webkit-appearance textfield // Chrome 45+, Safari 9+

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration
            -webkit-appearance none // Chrome 45+, Safari 9+

main
    display block // Android 4.3-, IE 11-, WP 8.1+

pre
    overflow auto // IE 11-

progress
    display inline-block // IE 11-, WP 8.1+

summary
    display block // FF 40+, IE 11-, WP 8.1+

svg:not(:root)
    overflow hidden // IE 11-

template
    display none // Android 4.3-, IE 11-, iOS 7-, Safari 7-, WP 8.1+

textarea
    overflow auto // Edge 12+, IE 11-
    resize vertical

[hidden]
    display none // IE 10-



/*
 * Универсальные значения
 */

*,
::before,
::after
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box

*
    font-size inherit
    line-height inherit

::before,
::after
    text-decoration inherit
    vertical-align inherit

button,
input,
select,
textarea
    font-family inherit
    font-style inherit
    font-weight inherit



/*
 * Дополнительные значения
 */

//отмена обводки фокуса
span:focus
    outline: 0 !important

// сброс отступов
*
    margin 0
    padding 0

// сброс бордеров
*,
::before,
::after
    border-style solid
    border-width 0

// снимаем тапинг
a,
area,
button,
input,
label,
select,
textarea,
[tabindex]
    touch-action manipulation

// снимаем вид селектов
select
    -moz-appearance none    // FF 40+
    -webkit-appearance none // Chrome 45+

    &::-ms-expand
        display none        // Edge 12+, IE 11-

    &::-ms-value
        color currentColor  // Edge 12+, IE 11-

// сброс цвета для SVG
svg
    fill currentColor

// курсор для элементов прогрузки
[aria-busy="true"]
    cursor progress

// курсор наведения для элементов управления
[aria-controls]
    cursor pointer

// курсор запрета для неактивных элементов
[aria-disabled]
    cursor default

// спецстили для скрытых элементов
[hidden][aria-hidden="false"]
    clip rect(0 0 0 0)
    display inherit
    position absolute

    &:focus
        clip auto



/*
 * Значения конфигурации
 */

:root
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box
::-ms-reveal,
::-ms-clear
    display none !important
/*
:root
    background-color: root-background-color is defined ? root-background-color : #ffffff
    color: #000000
    font: (root-font-size is defined ? root-font-size : 100%)\/(root-line-height is defined ? root-line-height : 1.5) (root-font-family is defined ? root-font-family : sans-serif)
*/

// вертикальное выравнивание для медиа-элементов
audio,
canvas,
iframe,
img,
svg,
video
    vertical-align middle

// цвет фона для элементов форм
button,
input,
select,
textarea
    background-color transparent
    color inherit

// сброс вида списков для элементов навигации
nav ol,
nav ul
    list-style none

// размер шрифта для элементов small
small
    font-size 75%

// границы таблиц
table
    border-collapse collapse
    border-spacing 0

/*
// кастомизация выделения
    background-color #000000 // required when declaring ::selection
    color #ffffff
    text-shadow none

::selection
    background-color #000000 // required when declaring ::selection
    color #ffffff
    text-shadow none
*/



