font-face('druk', 'medium', 500, normal)

body, html
	font-family $ff-body
	font-weight 400
	line-height $lh
	-webkit-font-smoothing subpixel-antialiased
	-moz-osx-font-smoothing grayscale

h1, h2, h3, h4, h5, h6
	font-family $ff-header

h1
	font-size 3em
	line-height 1
	margin-top 0
h2
	font-size 1.8em
	line-height 1
h3
	font-size 1.4em
	line-height 1