.profit-calc
	display flex
	flex-direction column
	justify-content space-around
	box-sizing border-box
	max-width 1200px
	padding 16px
	margin auto
	margin-top 32px
	.calc
		width 100%
		height 80px
		background $n30
		border-radius 4px
		margin-top 24px