header
	display flex
	justify-content space-between
	align-items center
	box-sizing border-box
	max-width 1200px
	width 100%
	height 80px
	margin auto
	.header-logo
		display flex
		flex-direction row
		align-items center
		float left
		img
			width 203px
	.header-menu
		float right
		list-style-type none
		margin 0
		padding 0
		overflow hidden
		li
			float left
			padding 16px
			a
				display block
