.mining-hotel
	display flex
	flex-direction column
	justify-content space-around
	box-sizing border-box
	max-width 1200px
	padding 16px
	margin auto
	margin-top 64px
	.intro-illustration
		width auto
		height 500px
	.textblock
		padding-top 40px
		text-align center
	.subtitle
		display inline-block
		width 60%
		font-size 24px
		line-height 1.4
		margin-top 16px
		font-weight 300
		sup
			font-size 14px
	.features
		display flex
		flex-direction row
		flex-wrap wrap
		align-content stretch
		// width 100%
		border-radius 4px
		margin-top 40px
		// padding 16px
		.feature-card
			flex 1 1 30%
			padding 32px
			background $n0
			border 1px solid $n10
			line-height 1.4
			// border-radius 4px
			margin 16px
			h4
				font-size 20px
				margin-bottom 12px
			p
				font-size 16px
				line-height 1.5
			svg
				margin-bottom 24px
	button
		align-self center
		min-width 200px
		margin-top 32px