.intro-wrap
	display flex
	flex-direction column
	padding 32px 0 48px
	position relative
	canvas
		position absolute
		z-index 1
	.intro
		display flex
		flex-direction row
		max-width 1200px
		box-sizing border-box
		margin auto
		max-height 800px
		position relative
		z-index 100
		.intro-textblock
			max-width 750px
			margin 0
			padding-top 40px
			text-align center
			h1
				font-size 4rem
				margin-bottom 32px
				transform translateY(10px)
				opacity 0
				transition transform 0.4s 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.3s 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940)
				&.fade-in
					transform translateY(0)
					opacity 1
			.subtitle
				display inline-block
				font-size 24px
				line-height 1.4
				font-weight 300
				margin-bottom 32px
				transform translateY(10px)
				opacity 0
				transition transform 0.4s 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.3s 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940)
				&.fade-in
					transform translateY(0)
					opacity 1
			.btn
				z-index 10
				transform translateY(10px)
				&:last-child
					margin-left 24px
