.loader-wrap
	display flex
	justify-content center
	position fixed
	top 0
	width 100%
	height 100%
	background $n0
	z-index 1000
	transition opacity .2s ease-out
	&.loaded
		opacity 0
		&.done
			display none
	.loader
		display flex
		justify-content center
		align-items center
		z-index 1001
		opacity 1
		transition opacity .2s ease-out
		&.loaded
			opacity 0
		canvas
			transform scale(.5)