.miners-list
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-around
	box-sizing border-box
	max-width 1200px
	padding 16px
	margin auto
	margin-top 64px
	.miner
		display flex
		width 31%
		// align-self center
		text-align left
		padding 24px
		margin-bottom 24px
		background $n0
		border 1px solid $n10
		border-radius 4px
		box-shadow 0 0px 0px 0px $n40
		transition box-shadow .2s ease-in-out, transform .2s ease-in
		transform translateY(0px)
		@media screen and (max-width: 800px)
			width 48%
		&:hover
			box-shadow 0 4px 8px -2px $n40
			transform translateY(-2px)

		.miner-link
			display block
			width 100%
			text-decoration none
			color $n900
			cursor cell
			.miner-img
				display block
				margin-bottom 24px
				width 100%
			.miner-info
				margin-bottom 20px
				.miner-name
					font-size 24px
					margin-bottom 16px
					font-weight bold
				.miner-spec
					font-size 16px
					line-height 1.4