.stocks
	display flex
	justify-content space-around
	align-items center
	box-sizing border-box
	background $n0
	max-width 1200px
	// border 1px solid $n10
	// border-radius 4px
	// box-shadow 0 4px 16px -2px $n40
	margin auto
	margin-top 48px
	.currency
		padding-left 16px
		padding-right 48px
		border-right 1px solid $n40
		&:last-child
			border-right none
		.name
			color $b300
			font-size 16px
			margin-bottom 8px
		.value
			color $n900
			font-size 20px
			font-weight 600
			margin-bottom 4px
		.change-up
			color $g300
			font-size 16px
			svg
				fill currentColor
		.change-down
			color $r300
			font-size 16px
			svg
				fill currentColor